#container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
body {
  background-color: #fdebedc7;
}
.myBtn {
  height: 70px;
  padding: 10px;
  width: 150px;
  margin-bottom: 15px;
  font-weight: bold;
  border-radius: 7px;
  border-color: rgba(0, 0, 0, 0.35);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 8px;
}
.myBtn:hover {
  transform: translateY(-3px);
  transition: all 0.2s;
  backface-visibility: hidden;
}

.firstColor {
  background-color: "#b3005e";
  color: "#f0e09d";
}

.secondColor {
  background-color: "#df000e";
  color: "#fde00d";
}