.button {
  font-size: 20px !important; /*This gets precedence and applied*/
  color: white;
  background-color: blue;
}
a {
  background-color: purple;
}
#nav div.pull-right a.button {
  background-color: orangered;
  font-size: 60px;
}
#nav div.pull-right a.button:hover {
  background-color: green;
}
#nav a.button:hover {
  background-color: yellow;
}

.box {
  width: 10rem;
  background-color: red;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
}
.box--inner {
  width: 7rem;
  background-color: blue;
  display: table-row;
  text-transform: uppercase;
  text-align: center;
}

.section {
  font-size: 1.5rem;
  width: 100%;
  background-color: orangered;
}
p {
}
.amazing {
  width: 60%;
  background-color: yellow;
  color: blue;
  border-radius: 4%;
  border-top-left-radius: 20%;
  border-top-right-radius: 30%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 45%;
}

table {
  text-align: center;
}

.container-mine {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  background-color: ivory;
}
.cell {
  background-color: orange;
  border: solid 1px blue;
  border-left-style: groove;
  /* border-radius: 5px; */
  line-height: 5rem;
  text-align: center;
  margin: 12px; /* space between this and its parent element */
  box-sizing: border-box;
  box-shadow: brown;
}
.span-float {
  background-color: yellowgreen;
  border: solid 1px saddlebrown;
  /* border-radius: 10px; */
  font-family: "Franklin Gothic Medium";
}
.span-float:hover {
  background-color: gray;
  border: solid 1px red;
  /* border-radius: 10px; */
  font-family: "Arial";
}
.span-float--right {
  float: right;
}
.span-float--left {
  float: left;
}
.span-float--center {
  float: inline-end;
}

.margin-div {
  border: 1px dotted #072b1f;
  /* line-height: 0px; */
  margin: 20px;
  background-color: blue;
  width: 300px;
}
.border-div {
  border: 1px solid #072b1f;
  /* line-height: 100px; */
  background-color: purple;
  margin: inherit;
}
.padding-div {
  border: 1px dotted #072b1f;
  background-color: yellow;
  margin: inherit;
}
.content-div {
  border: 1px solid #072b1f;
  background-color: orange;
  text-align: center;
  margin: inherit;
}

.margin-div-legend {
  border: 1px solid #072b1f;
  background-color: blue;
  text-align: center;

  color: white;
  height: 50px;
  width: 70px;
}
.border-div-legend {
  border: 1px solid #072b1f;
  background-color: purple;
  text-align: center;
  color: white;
  height: 50px;
  width: 70px;
}
.padding-div-legend {
  border: 1px solid #072b1f;
  background-color: yellow;
  text-align: center;
  height: 50px;
  width: 70px;
}
.content-div-legend {
  border: 1px solid #072b1f;
  background-color: orange;
  /* text-align: center; */
  height: 50px;
  width: 70px;
}
.container-two {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 500px 500px;
  grid-gap: 0.5rem;
  background-color: ivory;
}
.cell-two {
  background-color: orange;
  border: solid 1px blue;
  border-left-style: groove;
  /* border-radius: 5px; */
  line-height: 3;
  text-align: center;
  margin: 12px; /* space between this and its parent element */
  box-sizing: border-box;
  box-shadow: brown;
  color: black;
}
.bx-demo {
  margin: 2rem;
  width: 100px;
  height: 20px;
  border: 25px;
  padding: 25px;
  margin: 5;
}
.bdr-bx-demo {
  margin: 2rem;
  width: 100px;
  height: 20px;
  border: 25px;
  padding: 25px;
  box-sizing: border-box;
}
.bdr-bx-btn {
  border-radius: 100px;
}

.outer {
  border: 5px solid black;
}

.box1 {
  padding: 10px;
  width: calc(90% - 30px);
  background-color: rebeccapurple;
  color: white;
}
.box2 {
  margin: 30px;
  width: 100px;
  height: 100px;
  background-color: rebeccapurple;
  transform: rotate(0.8turn);
}

.box3 {
  border: 5px solid rebeccapurple;
  background-color: lightgray;
  padding: 40px;
  margin: 40px;
  width: 300px;
  height: 150px;
}

.alternate {
  box-sizing: border-box;
  width: 390px;
  height: 240px;
}
