:root {
  --clr-dark: #070a12;
  --clr-light: #f9f9fb;
  --clr-accent: #f43f70;
  --clr-rgba: rgba(244, 63, 112, 0.2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  word-spacing: 1.4px;
  color: var(--clr-dark);
  background-color: var(--clr-light);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  font-size: 2 rem;
  font-weight: 700;
  padding: 0.5em 1em;
  color: var(--clr-accent);
  background-color: var(--clr-rgba);
  border: .2rem solid var(--clr-accent);
  border-radius: .5rem;

  height: 10rem;
  width: 20rem;
  /* transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-delay: 0s; */
  /* transition: transform 0.3s ease 0s; */

  /* transition: transform 0.3s background-color 0.3s color 0.3s; */
  transition: all 0.3s;
}

.btn:hover {
  transform: translateY(-.5rem);
  background-color: var(--clr-accent);
  color: var(--clr-light);
}