// import { defineConfig
// } from 'vite';
// import eslint from 'vite-plugin-eslint';
// export default defineConfig({
//   plugins: [
//         { // default settings on build (i.e. fail on error)
//       ...eslint(),
//       apply: 'build',
//         },
//         { // do not fail on serve (i.e. local development)
//       ...eslint({
//         failOnWarning: false,
//         failOnError: false,
//             }),
//       apply: 'serve',
//       enforce: 'post'
//         }
//     ],
// });